<p id="notice"><%= notice %></p>
<%= render 'properties/carousel' %>
<%= render 'properties/services' %>
<%= render 'properties/property_list' %>
<%= render 'properties/agents_list' %>
<%= render 'properties/latest_news' %>
<%= render 'properties/testimonials' %>

<br>

<%= link_to 'New Property', new_property_path %>
