<!DOCTYPE html>
<html>
  <head>
    <title>EstateAgency</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

      <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

      <!-- Libraries CSS Files -->
  <%# <link href="app/assets/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="app/assets/lib/animate/animate.min.css" rel="stylesheet">
  <link href="app/assets/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="app/assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet"> %>
  </head>

  <body>
    <%= render 'layouts/search_form' %>
    <%= render 'layouts/navbar' %>

    <%= link_to "Properties", properties_path %>
    <%= link_to "Edit User", edit_user_registration_path %>
    <hr>
  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <%= yield %>

  </body>
</html>
